.inf-loc-title{
    color: black;
    font-weight: bold;
    text-align: center;
}

.inf-loc-text{
    color: black;
}

#save-img{
    max-width: 40%;
    height: auto;
    padding: 0px;
}

#infoLocation-img{
    border-radius: 8px;
    max-width: 70%;
    height: auto;
    padding: 0px;
}

#info-loc-prenotation{
    background-color: #263238;
    color: white;
}