<div id="footer-box" class="row justify-content-center">
    <div class="col-lg-8 mt-3 mb-3">
        <div class="row justify-content-center">
            <div class="col-6 d-flex align-items-center">
                <div class="col">
                    <div class="row justify-content-center">
                        <img id="footer-logo" src="../../../assets/personas_anziano.jpg" alt="Logo" />
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center">
                <div class="col">
                    <div class="row">
                        <h1>Nome azienda</h1>
                        <div class="row">
                            <p class="footer-text-info col-lg-6"><strong>Indirizzo: </strong>Via Zorutti</p>
                            <p class="footer-text-info col-lg-6"><strong>Tel: </strong>340123467</p>
                        </div>
        
                        <div class="row">
                            <p class="footer-text-info col-lg-6"><strong>Cap: </strong>34071</p>
                            <p class="footer-text-info col-lg-6"><strong>E-mail: </strong>mario.rossi@gmail.com</p>
                        </div>
                        <p class="footer-text-info"><strong>Patita IVA:&nbsp;</strong>1234567890</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mt-3 mb-3 d-flex align-items-center">
        <div class="col">
            <div class="row">
                <h1 class="col-12 text-center">Seguici su</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    <div class="row justify-content-center">
                        <img tabindex="" src="../../../assets/linkedin.svg" alt="linkedin" class="social" [routerLink]="['/']" />
                    </div>
                </div>
                <div class="col-2">
                    <div class="row justify-content-center">
                        <img tabindex="" src="../../../assets/instagram.svg" alt="Instagram" class="social" [routerLink]="['/']" />
                    </div>
                </div>
                <div class="col-2">
                    <div class="row justify-content-center">
                        <img tabindex="" src="../../../assets/facebook.svg" alt="Facebook" class="social" [routerLink]="['/']" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
