<div id="meteo-box" class="row mb-3 p-3">
    <h1 class="meteo-title col-12">Meteo</h1>
    <hr>
    <div class="row justify-content-center p-3">
        <div class="col-12">
            <div class="row justify-content-center">
                <p class="meteo-text col-4">Lunedì 19</p>
                <p class="meteo-text col-4">19° 32°</p>
            </div>
        </div>
        <div class="col-4">
            <hr>
        </div>
    </div>
    <div class="row justify-content-center p-3">
        <div class="col-12">
            <div class="row justify-content-center">
                <p class="meteo-text col-4">Martedì 19</p>
                <p class="meteo-text col-4">19° 32°</p>
            </div>
        </div>
        <div class="col-4">
            <hr>
        </div>
    </div>
    <div class="row justify-content-center p-3">
        <div class="col-12">
            <div class="row justify-content-center">
                <p class="meteo-text col-4">Mercoledì 19</p>
                <p class="meteo-text col-4">19° 32°</p>
            </div>
        </div>
        <div class="col-4">
            <hr>
        </div>
    </div>
</div>
